name: Release
on:
  push:
    branches:
      - master
jobs:
  release:
    name: Release
    runs-on: ubuntu-18.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          # This makes Actions fetch all Git history so that Changesets can generate changelogs with the correct commits
          fetch-depth: 0
          persist-credentials: false

      - name: Setup Node.js
        uses: actions/setup-node@v3.1.0
        with:
          node-version: 16.x

      # Update npm to latest
      - name: Update npm to latest
        run: npm install -g npm@latest

      # Build the site
      - name: Install npm packages
        run: npm install
      - name: Build documentation
        run: npm run build -w gatsby-plugin-nu-seo
      - name: Release v.
        env:
          PREFIX_PATHS: true
          GITHUB_TOKEN: ${{ secrets.GIT_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: npx semantic-release
